# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Python
* R
* SQL
* Java
* Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Sikit learn
5. Tensorflow

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|RStudio           |
|Apache Spark      |
|------------------|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
minutes = 200
hours = 200/60
hours
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Karthik